body {
  background-color: #0c1014;
  color: white;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 46px 0;
}

.header {
  display: flex;
  background-color: #05080a;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
}

.header__logo {
  font-size: 36px;
  text-transform: uppercase;
  margin-left: 16px;
}

.header__nav ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  gap: 16px;
}

.header__nav a {
  color: white;
  text-decoration: none;
  padding: 14px;
}

.header__nav a:hover {
  text-decoration: underline;
}

a.header_nav--active {
  background-color: #9d22ca;
  color: #0c1014;
  pointer-events: none;
  border-radius: 6px;
}

.pricing {
  display: flex;
  gap: 16px;
}

.pricing-plan {
  flex: 1px;
  background-color: #1f262c;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 12px rgb(132, 14, 201);
  display: flex;
  flex-direction: column;
}

.class-plan_title {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid rgb(132, 14, 201);
  margin-top: 0;
  padding-bottom: 10px;
}

.pricing-plan p {
  margin-top: 0;
}

.princing-plan_price {
  font-size: 32px;
}

.pricing-plan_features {
  margin: 0 0 35px 0;
  color: #b5b5b5;
  padding-left: 16px;
  line-height: 1.8;
  flex: 1;
}

.pricing-plan_features li::marker {
  color: rgb(132, 14, 201);
}

.pricing-plan_cta {
  text-decoration: none;
  color: white;
  background-color: rgb(132, 14, 201);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 10px;
  text-align: center;
}

.pricing-plan_cta:hover {
  outline: 2px solid rgb(132, 14, 201);
  background-color: transparent;
  color: white;
  transform: scale(1.05);
}
